<html>  
	<head>
		<title>Express handlebars</title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/layout.css" />
	</head>
	<body>
		<div class="container-fluid" ng-app="app">
		{{{body}}}
		</div>
	</body>
</html>  