<div class="teams row" ng-show="game.step > 1">
	
	<div class="team col-md-3" ng-repeat="team in game.teams">
		<section class="widget widget-xs widget-xs-{{team.id}}" ng-class="{ active: team.active, flash: team.flash }">
			<div class="widget-inner">
				<div class="chart-container">
					<span class="sparkline-line-mini">
						<img ng-src="images/iconmonstr-generation-{{team.id}}.svg" />	
					</span>
				</div>
				<div class="info-container">
					<h3 class="title">
						<span class="figure">{{team.name}}</span>
						<span class="note">0 points</span></h3>
				</div>
			</div>
		</section>
	</div>

</div>

{{game.step}}

<div class="step0 row vertical-align" ng-show="game.step == 0">
	<div class="col-xs-12 center-text text-center">
			<img src="/images/Quiz.png" />
	</div>
</div>

<!--<div class="step1 row vertical-align" ng-show="game.step == 1">
	<div class="col-xs-12 center-text text-center">
			<button class="btn btn-default btn-lg">Questions organisées par thème</button>
			<button class="btn btn-default btn-lg">Questions aléatoires</button>
	</div>
</div>-->
<div class="step1" ng-show="game.step == 1">
	<div class="row text-center vertical-align" ng-class="{ flash: game.mode == 'theme' }">
		Questions organisées par thème
	</div>
	<div class="row text-center vertical-align" ng-class="{ flash: game.mode == 'random' } ">
		Questions aléatoires
	</div>
</div>

<div class="step2" ng-show="game.step == 2">
	<div class="radial-progress" data-progress="{{game.progress}}">
		<div class="circle">
			<div class="mask full">
				<div class="fill"></div>
			</div>
			<div class="mask half">
				<div class="fill"></div>
				<div class="fill fix"></div>
			</div>
			<div class="shadow"></div>
		</div>
		<div class="inset">
			{{game.secondsLeft}}
		</div>
	</div>

	<h1 class="action">Appuyez sur l'un des boutons de votre buzzer pour l'activer</h1>
</div>
<div class="step3" ng-show="game.step == 3">
	Step 3
</div>
